@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Patrick Hand";
    src: url(./assets/fonts/PatrickHand-Regular.ttf);
  }

  .h-container {
    min-height: calc(100vh - 72px);
  }
}
