@tailwind base;
@tailwind components;
@tailwind utilities;

$header-height: 56px;

@layer base {
  @font-face {
    font-family: "Patrick Hand";
    src: url(../fonts/PatrickHand-Regular.ttf);
  }
}

@layer utilities {
  .h-container-height {
    @apply min-h-[calc(100vh-#{$header-height})];
  }
}
