<header
  class="h-14 w-full px-4 lg:px-8 flex items-center justify-center shadow"
>
  <div class="lg:max-w-7xl flex flex-grow items-center justify-between">
    <app-logo />
    <div class="flex gap-2 lg:gap-4">
      <app-button
        routerLink="/sign-in"
        [variant]="getAuthButtonVariant('/sign-in')"
        size="m"
        >Sign In</app-button
      >

      <app-button
        routerLink="/sign-up"
        [variant]="getAuthButtonVariant('/sign-up')"
        size="m"
        >Sign Up</app-button
      >
    </div>
  </div>
</header>
