$primary100: #d50000;
$primary80: rgba(213, 0, 0, 0.8);
$primary40: rgba(213, 0, 0, 0.4);
$primary10: rgba(213, 0, 0, 0.1);
$blackText: #0c0c0c;
$grayLight: #f0f0f0;
$grayMedium: #b8b8b8;
$grayDark: #404040;
