@font-face {
  font-family: "Inter";
  src: url("../../../src/assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../../../src/assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../../../src/assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

// "../../../src/assets/fonts/Pacifico-Regular.ttf"
$inter: "Inter", sans-serif;

@mixin font-style($font-weight, $font-size, $line-height, $letter-spacing) {
  font-family: $inter;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin logo {
  @include font-style(500, 22px, 1, -3%);
}

@mixin h1 {
  @include font-style(500, 12px, 1.1, 0);
}

@mixin h2 {
  @include font-style(500, 18px, 1.1, 0);
}

@mixin h3 {
  @include font-style(500, 16px, 1.1, 0);
}

@mixin h4 {
  @include font-style(500, 14px, 1.1, 0);
}

@mixin large {
  @include font-style(400, 16px, 1.3, 0);
}

@mixin mainText {
  @include font-style(400, 14px, 1.3, 0);
}

@mixin secondaryText {
  @include font-style(400, 12px, 1.3, 0);
}

@mixin largeButton {
  @include font-style(700, 16px, 1, 0);
}

@mixin button {
  @include font-style(700, 14px, 1, 0);
}
