<label class="flex flex-col">
  <span *ngIf="label" class="text-caption uppercase">{{ label }}</span>

  <input
    class="py-1 px-3 border-2 rounded-lg text-body border-black text-black placeholder:text-primary-400 outline-none"
    [class.border-error]="hasError"
    [placeholder]="placeholder"
    [formControl]="control"
  />

  <div
    *ngIf="control.errors && (control.dirty || control.touched)"
    class="text-caption text-error"
  >
    <span *ngIf="control.errors['required']">This field is required</span>
    <span *ngIf="control.errors['minlength']">Too short</span>
    <span *ngIf="control.errors['notsame']">Passwords do not match</span>
  </div>
</label>
